html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#board {
    width: 400px;
    height: 320px;
    background: #484d4e;
}

table,tr,td {
    border: none;
    padding: 0;
    margin: 0;        
}

td {
    width: 38px;
    height: 38px;
    border-top: 1px solid #3a3e3f;
    border-left: 1px solid #3a3e3f;
    
    border-right: 1px solid #6f7778;
    border-bottom: 1px solid #6f7778;
}

.p0 {
    background: #f00;
}

.p1 {
    background: #ccc;
}

#pieces {
    position: absolute;
    top: 1px;
    left: 1px;
}

#laser {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1337;
}

#pieces > div {
    width: 38px;
    height: 38px;
    position: absolute;
}

.p0.obelisk { background-image: url(../pics/obelisk0.png); }
.p0.pharao { background-image: url(../pics/pharao0.png); }
.p0.djed { background-image: url(../pics/djed0.png); }
.p0.pyramid { background-image: url(../pics/pyramid0.png); }

.p1.obelisk { background-image: url(../pics/obelisk1.png); }
.p1.pharao { background-image: url(../pics/pharao1.png); }
.p1.djed { background-image: url(../pics/djed1.png); }
.p1.pyramid { background-image: url(../pics/pyramid1.png); }

.ray {
    width: 2px;
    background: #0f0;
    -webkit-transform-origin: 0 0;
    position: absolute;
}
