html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Lucida Grande", Helvetica;
    background: #222;
}

#install { 
    position: absolute; 
    top: 0; 
    left: 0; 
    display: none; 
    background: #fff;
    z-index: 3333;
    color: #323639;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0s.4);
}
#install strong {
    color: #e20a17;
}
#install, .table, .cell {
    width: 100%;
    height: 100%;
}
.table { 
    display: table; 
}
.cell { 
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
}


#wrapper {
    width: 480px;
    height: 320px;
    overflow: hidden;
}

#board {
    width: 400px;
    height: 320px;
    background: #484d4e;
}

table,tr,td {
    border: none;
    padding: 0;
    margin: 0;        
}

td {
    width: 38px;
    height: 38px;
    border-top: 1px solid #3a3e3f;
    border-left: 1px solid #3a3e3f;
    
    border-right: 1px solid #6f7778;
    border-bottom: 1px solid #6f7778;
    -webkit-border-radius: 3px;
    background-image: -webkit-gradient(radial, 26 26, 33, 30 30, 0, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)) );
    -webkit-box-shadow: inset 1px 1px 4px rgba(32, 32, 32, 0.4);
}

.p0 {
    background-color: #ab1416;
}

.p1 {
    background-color: #b0bbbf;
}

#pieces {
    position: absolute;
    top: 3px;
    left: 1px;
}

#laser {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1357;
    -webkit-animation: pulse 2s linear 0s infinite normal;   
}

#pieces > div {
    width: 36px;
    height: 36px;
    position: absolute;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    -webkit-border-radius: 3px;
    background-position: center center;
    background-size: 100%;
    -webkit-box-shadow: 0px 0px 4px #000;
}


.dragging #pieces > div {
    -webkit-transition: none;
}


.p0.obelisk { background-image: url(../pics/obelisk0.png); }
.p0.pharao { background-image: url(../pics/pharao0.png); }
.p0.djed { background-image: url(../pics/djed0.png); }
.p0.pyramid { background-image: url(../pics/pyramid0.png); }
.p0.eye { background-image: url(../pics/eye0.png); }

.p1.obelisk { background-image: url(../pics/obelisk1.png); }
.p1.pharao { background-image: url(../pics/pharao1.png); }
.p1.djed { background-image: url(../pics/djed1.png); }
.p1.pyramid { background-image: url(../pics/pyramid1.png); }
.p1.eye { background-image: url(../pics/eye1.png); }

.ray {
    width: 2px;
    background: #0f0;
    -webkit-transform-origin: 1px 1px;
    position: absolute;
    -webkit-box-shadow: 0px 0px 4px #0f0, 0px 0px 8px #0f0;
}

#menu {
    width: 80px;
    height: 320px;
    background: #222;
    position: absolute;
    top: 0px;
    left: 400px;
    -webkit-box-shadow: 0px 0px 16px #000;
    z-index: 2337;
}

#done {
    color: #f00;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 10px;
}

#pieces .active {
    -webkit-box-shadow: 0px 0px 8px #000;
    z-index: 1337;
    opacity: 0.8;
}

.potential {
    background-color: #00f;
   border: 1px solid #00f;
}

.at {
    background-color: #ff0;
    border: 1px solid #ff0;
}

.target {
    position: absolute;
}

.target div {
    opacity: 0.8;
    width: 40px;
    height: 40px;
    color: #0f0;
    font-size: 40px;
    text-align: center;
    webkit-box-shadow: 0px 0px 2px #000;
   -webkit-animation: rotateZ 1s linear 0s infinite normal;    
}

.target div:before {
    content: "✴";
}

.hover {
    border: 1px solid #0f0;
}

.disallowed {
    border: 1px solid #f00;
}

@-webkit-keyframes rotateZ {
    from { -webkit-transform: rotate(0deg) scale(1); } 
    50% { -webkit-transform: rotate(180deg) scale(1.5); } 
    to { -webkit-transform: rotate(360deg) scale(1); }
}

@-webkit-keyframes pulse {
    from { opacity: 1; }
    50% { opacity: 0.7; } 
    to { opacity: 1; }
}
